{% extends "layout.html" %}



{% block content %}
{% load crispy_forms_tags %}
    
    <hr>
    <form method="post" enctype="multipart/form-data" class="form-control">
    <div class="container">
        <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3>Update Article</h3>
            <hr>
            {% csrf_token %}
            <div class="row">
            <div class="col-md-12">
                {{form.media}}
                {{form|crispy}}
            </div>
        </div>
        <button class="btn btn-danger mt-2 mb-2 d-flex float-end" type="submit"> Update</button>
    </div>
        </div>
    </div>
    </form>

{% endblock content %}